{{> nav }}

<div class="text-center mt-3">

    <label>Choose a Subreddit! (default: Politics)</label>
    <input id="subreddit" type="text" placeholder="Politics">

    <button class="btn btn-warning" id="scrape-btn">Scrape!</button>
</div>

<div class="article-container m-5">
    {{#each article}}
    <div class="article m-3 px-3">

        <div class="row">
            <div class="img-container">
                <img class="photo img-fluid" src={{this.thumbnail}}>
            </div>

            <div class="content">
                <a class="title" href={{this.link}}>{{this.headline}}</a>
                <div class="comments">
                    <a href={{this.thread}}>Comments</a>
                </div>
                <button class="btn btn-success save-btn" data-id={{this._id}} data-headline={{this.headline}} data-link={{this.link}}
                    data-thumbnail={{this.thumbnail}} data-thread={{this.thread}}>Save</button>
            </div>
        </div>

    </div>
    {{/each}}
</div>